.home_container {
  border: 2px solid red;
  display: flex;
}
/* sidebar */
.sidebar_container {
  /* border:2px solid red; */
  width: 100px;
  height: 700px;
  display: flex;
}
.main_home_container {
  border: 4px solid blue;
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: #eeeeee;
}

@media screen and (min-width: 200px) and (max-width: 400px) {
  .sidebar_container {
    border: 2px solid green;
    width: 100%;
    display: flex;
    height: auto;
  }
  .main_home_container {
    border: 2px solid rgb(3, 86, 66);
    height: auto;
    /* width:100%; */
  }
  .home_container {
    width: 100%;
  }
}
