:root {
	--primary-theme: #00808b;
	--primary-white: #fff;
	--gray: #d1d1d1;
	--black: #000;
}

body {
	margin: 0;
	overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(208, 210, 208);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
